.nova-venda-content{
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    box-sizing: border-box;
}



.area-receituario-completo{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
}

.area-receituario-medidas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.area-cliente-os{
    width: 100%;
    display: flex;
    justify-content: start;
    box-sizing: border-box;
}

.area-receituario-pagamento{
    width: 100%;
    display: flex;
}