.ordem-servico-area {
    width: 13%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap; /* Para responsividade */
    background-color: #ffff;
    box-sizing: border-box;
    padding: 15px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--box-shadow-default);
}

  .os-input {
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #d1d5db;
    border-radius: var(--default-border-radius);
    font-size: 0.95rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }