.medidas-area {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #ffff;
    box-sizing: border-box;
    padding: 20px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--box-shadow-default);
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: var(--font-color-black);
}
  
  .medidas-area table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    
}
  
.medidas-area th,
.medidas-area td {
    padding: 8px;
    text-align: start;
    font-size: 16px;
}
  
.medidas-area th {
    background-color: #f4f4f4;
    font-weight: bold;
}
  
.medidas-area td {
    vertical-align: middle;
}
   
.input-medidas {
    padding: 6px;
    box-sizing: border-box;
    width: 3vw;
    font-size: 14px;
    margin: 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}