.receituario-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background-color: #ffff;
    box-sizing: border-box;
    padding: 20px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--box-shadow-default);
    margin-right: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    color: var(--font-color-black);
}
  
.receituario-content table {
    border-collapse: collapse;
    width: 100%;
}
  
.receituario-content th,
.receituario-content td {
    
    padding: 8px;
    text-align: center;
    font-size: 16px;
}
  
.receituario-content th {
    font-weight: bold;
}
  
.receituario-content td {
    vertical-align: middle;
}

  
.input-receituario {
    padding: 6px;
    box-sizing: border-box;
    width: 5vw;
    font-size: 14px;
    margin: 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  