.menu-lateral-content{
    width: 17vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


.menu-buttons-area{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 10px;
}

.area-sidebar-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #f8f8f8;
    transition: background-color 0.3s;   
    padding: 8px 12px;
    box-sizing: border-box;
}

.menu-sidebar-button{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 12px;
    box-sizing: border-box;
    font-size: 15px;
    color: #393939;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.menu-sidebar-button.active{
    color: var(--font-color-blue);
    background-color: #e0e0e06b;
    
}


.menu-sidebar-button:hover{
    background-color: #e0e0e06b;
}