.cliente-area {
    width: 60%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 25px;
    margin-right: 20px;
    flex-wrap: wrap; /* Para responsividade */
    
    background-color: #ffff;
    box-sizing: border-box;
    padding: 15px;
    border-radius: var(--default-border-radius);
    box-shadow: var(--box-shadow-default);
  }

  .area-input-cliente{
    display: flex;
    gap: 15px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: calc( var(--default-border-radius)/2);
    font-size: 0.95rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  
  
  .add-button {
    padding: 10px 20px;
    background-color: var(--font-color-blue);
    color: white;
    border: none;
    border-radius: calc( var(--default-border-radius)/2);
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o '+' e o texto */
  }
  
  .add-button:hover {
    background-color: #0033cc;
  }