.cliente-area {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap; /* Para responsividade */
    gap: 15px;
  }
  
  .search-input {
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #d1d5db;
    border-radius: var(--default-border-radius);
    font-size: 0.95rem;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  
  
  .add-button {
    padding: 10px 20px;
    background-color: var(--font-color-blue);
    color: white;
    border: none;
    border-radius: var(--default-border-radius, 10px);
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o '+' e o texto */
  }
  
  .add-button:hover {
    background-color: #0033cc;
  }